sudo: required
language: go
go: '1.11.x'
env:
  - GO111MODULE=on
services:
  - docker
install:
  - make setup
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
script: make ci
after_success:
  - bash <(curl -s https://codecov.io/bash)
notifications:
  email: false
deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL http://git.io/goreleaser | bash
    on:
      tags: true
